<section>
    <h2>Archives</h2>
    <div>
        <% list_archives(page.archive) %>
    </div>
    <div>
        <ul>
            <li>2020年</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>