<% if (page.current == 1) { %>
    <%- partial('_partial/header') %>
<% } %>

<!-- Section -->
<section>
    <header class="major">
        <h2>Recent Posts</h2>
    </header>
    <% if (page.content) { %>
        <%- page.content %>
    <% } else { %>
        <%- partial('_partial/post-list', { pagination: 2, index: true }) %>
    <% } %>
</section>