<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <%- body %>
                </div>
            </div>

            <%- partial('_partial/sidebar') %>
        </div>
        <%- partial('_partial/after-footer') %>
    </body>

</html>