<section>
    <header class="major">
        <h2>Contact</h2>
    </header>
    <ul class="contact">
        <li class="icon solid fa-envelope"><a href="mailto:<%- theme.profile.email %>"><%- theme.profile.email %></a></li>
        <li class="icon solid fa-phone">(000) 000-0000</li>
        <li class="icon solid fa-home">1234 Somewhere Road #8254<br />Nashville, TN 00000-0000</li>
    </ul>
</section>