<div style="border: 1px solid #ffb7b7; padding: 10px 15px; background: #fff7f7; border-radius: 10px; margin-top: 20px;">
    <h3>Notice for visitors</h3>
    <p style="margin-bottom: 10px;">
        I am so sorry for that the theme of this blog was under development,
        some of the functions or pages may not work properly, and I will fix them as soon as I can.
    </p>
    <p style="margin-bottom: 10px;">
        And you can also <a href="https://xfc-exclave.github.io">visit the old version</a> on github page.
    </p>
    <p style="margin-bottom: 10px;">And lastly, I really, really sorry for causing you a bad reading experience!</p>
</div>
