<!-- Header -->
<header id="header">
    <a href="<%- url_for('/') %>" class="logo"><strong>ORIGINAL</strong> by <%- theme.profile.name %></a>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
        <li><a href="#" class="icon fa-solid fa-music"><span class="label">Music</span></a></li>
        <li><a href="#" class="icon fa-solid fa-language"><span class="label">Language</span></a></li>
        <li><a href="#" class="icon fa-solid fa-copyright"><span class="label">Copyright</span></a></li>
        <li><a href="#" class="icon fa-solid fa-lightbulb"><span class="label">Night Mode</span></a></li>
    </ul>
</header>