:root {
    --theme-color-0: #f56a6a;
    --theme-sub-color-0: #fff9f9;
    --theme-color-1: #73a0cf;
    --theme-sub-color-1: #3e3e3e;

    --blue-0: #4e94b9;
    --blue-1: #eff4f6;

    --night-them-color: #bb7b7d;
    --night-bg1: #383939;
    --night-bg2: #2e2f2f;
    --night-font-color: #b1b2b3;
    --night-bold-font-color: #73cfc8;

    --theme-color: var(--theme-color-0);
    --theme-color-sub: var(--theme-sub-color-0);
}

/* ========== color reset ========== */
a {
    color: var(--theme-color);
}

a:hover {
    color: var(--theme-color) !important;
}

.theme-color {
    color: var(--theme-color);
}

#header {
    border-bottom: solid 5px var(--theme-color);
}

header.major> :last-child {
    border-bottom: solid 3px var(--theme-color);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    box-shadow: inset 0 0 0 2px var(--theme-color);
    color: var(--theme-color) !important;
}

a.button:hover {
    background: var(--theme-color-sub);
}

ul.contact li:before {
    color: var(--theme-color);
}

#menu ul a:hover,
#menu ul span:hover {
    color: var(--theme-color);
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
    color: var(--theme-color);
}

/* == */
.post-content ul>li {
    line-height: 26px;
}

.posts article .excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.pagination {
    text-align: right;
}

.pagination a {
    border: none;
}

.pagination .page-number {
    font-size: 0.8em;
    height: 2em;
    color: var(--theme-color) !important;
    padding: 0.5em 0.75em;
    margin: 0 0.5em;
}

.pagination .page-number.current {
    background-color: var(--theme-color);
    color: #ffffff !important;
    border-radius: 0.375em;
}

.pagination .page-number:hover {
    background-color: var(--theme-color);
    color: #ffffff !important;
    border-radius: 0.375em;
}

.post-content p {
    margin: 0 0 0.5em 0;
}

.post-content img {
    max-width: 100%;
}

.features article .icon .fab {
    font-size: 2.75rem;
    color: var(--theme-color);
}

.posts article .image img {
    max-height: 245px;
    object-fit: cover;
}

.inner .image.main img {
    max-height: 500px;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
}

.tags-container ul {
    padding-left: 0;
}

.categories-container ul li,
.tags-container ul li {
    line-height: 2.5em;
    list-style: none;
}

.tags-container ul li {
    display: inline-block;
    margin-right: 0.25em;
}

.tags-container .tag-list-count {
    padding-left: 0.25em;
}

.categories-container .category-list-count {
    padding-left: 0.25em;
}

.categories-container ul {
    margin-bottom: 0.25em;
}

.post-content .fancybox>img {
    display: block;
    margin: 0 auto;
}
.post-content span.caption {
    display: none;
}

.post-content p>code {
    border: 1px solid #c1c2c3;
    background-color: #f1f7fb;
    border-radius: 5px;
    padding: 0 5px;
}

.post-content pre[class*=language-] {
    max-height: 420px;
    overflow-y: auto;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: #f1f7fb;
}

.post-content pre[class*=language-]::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.post-content pre[class*=language-]::-webkit-scrollbar-thumb {
    background-color: #bababa33;
    border-radius: 5px;
}
.post-content pre[class*=language-]::-webkit-scrollbar-corner {
    background: inherit;
}

.post-content .code-toolbar .copy-to-clipboard-button {
    color: #bbb !important;
    font-size: .8em !important;
    padding: 0 .5em !important;
    height: auto;
}

.post-content h3:before {
    content: "<H3>";
    font-weight: bold;
    color: #ffc2c2;
    padding-right: 5px;
}
.post-content h4:before {
    content: "<H4>";
    font-weight: bold;
    color: #ffc2c2;
    padding-right: 5px;
}
.post-content h5:before {
    content: "<H5>";
    font-weight: bold;
    color: #ffc2c2;
    padding-right: 5px;
}

/* ======== fancybox */
.markdown-section img {
    max-width: 100%;
    padding: 0.5em 0;
    margin: auto;
    display: block;
}

.caption {
    color: #444;
    display: block;
    font-size: 0.9em;
    margin-top: 0.1em;
    position: relative;
    text-align: center;
}
/* ======== fancybox */

/* ======== tagcloud */
#tagcloud {
    position: relative;
    width: 100%;
    height: 100%;
}

#tagcloud a {
    position: absolute;
    font-size: 12px;
    padding: 3px 15px;
    color: #565656;
    top: 0px;
    left: 0px;
    border: 1px solid #e6e7e8;
    background: #f2f4f8;
    border-radius: 15px;
}
/* ======== tagcloud */