:root {
    --red-0: #f56a6a;
    --red-1: #fff9f9;
    --blue-0: #4e94b9;
    --blue-1: #eff4f6;

    --theme-color: var(--red-0);
    --theme-color-sub: var(--red-1);
}

/* ========== color reset ========== */
a {
    color: var(--theme-color);
}

a:hover {
    color: var(--theme-color) !important;
}

.theme-color {
    color: var(--theme-color);
}

#header {
    border-bottom: solid 5px var(--theme-color);
}

header.major > :last-child {
    border-bottom: solid 3px var(--theme-color);
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    box-shadow: inset 0 0 0 2px var(--theme-color);
    color: var(--theme-color) !important;
}

a.button:hover {
    background: var(--theme-color-sub);
}

ul.contact li:before {
    color: var(--theme-color);
}

#menu ul a:hover, #menu ul span:hover {
    color: var(--theme-color);
}

#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
    color: var(--theme-color);
}

/* == */
.post-content ul>li {
    line-height: 26px;
}

.posts article .excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.pagination {
    text-align: right;
}

.pagination a {
    border: none;
}

.pagination .page-number {
    font-size: 0.8em;
    height: 2em;
    color: var(--theme-color) !important;
    padding: 0.5em 0.75em;
    margin: 0 0.5em;
}

.pagination .page-number.current {
    background-color: var(--theme-color);
    color: #ffffff !important;
    border-radius: 0.375em;
}

.pagination .page-number:hover {
    background-color: var(--theme-color);
    color: #ffffff !important;
    border-radius: 0.375em;
}

.post-content p {
    margin: 0 0 0.5em 0;
}

.post-content img {
    max-width: 100%;
}

.features article .icon .fab {
    font-size: 2.75rem; color: var(--theme-color);
}

.posts article .image img {
    max-height: 245px;
    object-fit: cover;
}

.inner .image.main img {
    max-height: 500px;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
}

.tags-container ul {
  padding-left: 0;
}

.categories-container ul li, .tags-container ul li {
    line-height: 2.5em;
}

.tags-container ul li {
    list-style: none;
    display: inline-block;
    margin-right: 0.25em;
}

.tags-container .tag-list-count {
    padding-left: 00.25em;
}