<div class="posts">
    <% page.posts.each(function(post) { %>
        <%- partial('post/post-item', { post: post }) %>
    <% }) %>
</div>
<hr class="major">
<% if (page.total >= 1) { %>
<div class="pagination">
    <%- paginator({
        prev_text: '<span class="button small">Prev</span>',
        next_text: '<span class="button small">Next</span>',
        escape: false
    }) %>
</div>
<% } %>